In [132]:
import cobra
import pandas as pd
import numpy as np

from scipy.optimize import curve_fit

import refinegems

## Fix problem with Infeasible Error in get_secretion

In [32]:
#model = cobra.io.load_model('iJO1366')

from refinegems.utility.io import load_model

testpath = "/Users/brune/Documents/11_Test_Data/test_refinegems/models_Gwen/iShATCC29970GOG23.xml"
model = load_model(testpath,'cobra')

In [34]:
if 'EX_2hxmp_e' in model.exchanges:
    print('yes')

yes

In [67]:
with model:

    sf = model.summary().secretion_flux
    s = sf[sf['flux'] < 0.0].index.tolist()

    print(s)

['EX_ch4_e', 'EX_ch4s_e', 'EX_co2_e', 'EX_gcald_e', 'EX_gly_e', 'EX_h2o_e', 'EX_h_e', 'EX_unknown_rbfdeg_e']

In [68]:
model.optimize()

## Deal with external media

In [2]:
from refinegems.classes.medium import read_substances_from_file, read_external_medium

/Users/brune/miniconda3/envs/sprg/lib/python3.10/site-packages/pydantic/_internal/_config.py:322: UserWarning: Valid config keys have changed in V2:
* 'underscore_attrs_are_private' has been removed
  warnings.warn(message, UserWarning)

In [3]:
filepath = '/Users/brune/Documents/20_Projects/01_sprg/media-test/test.tsv'
subs = read_substances_from_file(filepath)
subs

    name formula  flux source BiGG  VMH
0  Water     H2O  10.0  water  h20  h20

In [5]:
filepath = '/Users/brune/Documents/20_Projects/01_sprg/media-test/test.tsv'
medium = read_external_medium('file', path=filepath)
medium

In [10]:
medium.substance_table

    name formula  flux source BiGG  VMH
0  Water     H2O  10.0  water  h20  h20

In [28]:
import pandas as pd 

data = pd.DataFrame({'A': [1,1, 2, 3], 'B': [4,4, 5, 6], 'C': [7,7, 8, 7]})
datold = pd.DataFrame({'A': [1, 2, 3], 'C': [7, 8, 7]})

#data.map(data.groupby('A')['C'].value_counts())

#data['A'].map(data.groupby('A')['C'].value_counts(dropna=True) <= 2)

#data[data['A'].map(data.groupby('A')['C'].value_counts(dropna=True) <= 2)]

filtered = data.groupby('A').filter(lambda x: x['C'].value_counts()<=1)

# issue 1: do not drop ids !!!
# issue 2: do not drop, if multiple values of same EC number but only 1 !!!

filtered.merge(datold, on=['A','C'], how='outer')

   A    B  C
0  1  NaN  7
1  2  5.0  8
2  3  6.0  7